/* #region // LOGO */
.logo{
    height: 200px;
    margin-top: 20px;
    padding: 20px;
}

.logo_alt{
    position: absolute;

    top: 16px;
    left: 50px;
    height: 25px;
    margin: 0;
}
/* #endregion */