/* #region // PC */
@media (pointer: fine) and (hover: hover) {
    @media (max-width: 1500px),
    (max-height: 768px) {
        #countdown-logo-rev {
            height: 125px;
        }

        #timer {
            font-size: 35px;
        }
    }
}

/* #endregion */

/* #region // MOBILE */
@media (pointer: coarse) and (hover: none) {

    #button-audio:hover,
    #button-lang:hover {
        border: 2px solid hsla(0, 0%, 0%, 0);
    }

    #countdown-logo-rev {
        height: 100px !important;
    }

    .container:hover {
        padding: 20px 40px;
    }

    .container:hover #timer {
        font-size: 45px;
    }

    .timers-wrapper {
        gap: 20px;
    }

    @media (orientation: portrait) {
        .timers-wrapper {
            flex-direction: column;
            align-items: center;

            gap: 0px;
        }

        .container {
            margin-top: 20px;
            padding: 20px 40px;
        }

        #timer {
            font-size: 40px;
        }
    }

    @media (orientation: landscape) {
        .timers-wrapper {
            flex-wrap: nowrap;

            gap: 0px;
        }

        .container {
            white-space: nowrap;

            margin-top: 5px;
        }

        #timer {
            font-size: 40px;
        }

        .container-loja {
            display: flex;
        }
    }
}

/* #endregion */