/* #region // GENERAL */
html {
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    text-align: center;

    height: 100%;
    width: 100%;
    margin: 0;

    background-position: left center;
    background-size: cover;
}

/* #endregion */

/* #region // TIMER */
.container {
    display: inline-block;

    font-family: monospace;
    font-size: 60px;

    margin-top: 35px;
    padding: 20px 40px;

    border-radius: 20px;

    color: hsl(0, 0%, 90%);
    background-color: hsla(0, 0%, 0%, 0.5);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transition: font-size 1s;
}

/* #endregion */

/* #region // LOGO */
#countdown-logo-re9 {
    height: 200px;
    transition: height 0.5s ease;
}

#countdown-logo-rev {
    height: 200px;
    transition: height 0.5s ease;
}

.container:hover {
    font-size: 65px;

    transition: font-size 1s;
}

.timers-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    gap: 100px;
}

.timer-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion */