header{
    font-family: 'Arial Black';
    font-size: 3em;
    text-align: center;

    padding: 50px;
    z-index: 1;

    border-bottom: 5px solid hsl(263, 40%, 50%);

    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 13%);
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
    margin: 0;
}

main, .split-section{
    display: flex;
    flex: 1;
}

.split-section{
    align-items: center;
    justify-content: center;
    position: relative;
    
    background-size: cover;
    background-position: center;

    transition: flex 0.5s ease;
}

.split-section:hover{
    flex: 1.2;
}

.split-section img{
    object-fit: contain;

    max-width: 80%;
    height: 250px;
    width: 500px;
    
    transition: transform 0.5s ease;
}

.split-section:hover img{
    transform: scale(1.1);
}

#gta6-section{
    background-image: url('./gta6/assets/background.png');
}

#re9-section{
    background-image: url('./residentevil9/assets/background.png');
}